.page{
  padding-bottom: 100px;
}
.hint{ 
  opacity:.7; 
}

.postsOffset{ 
  margin-top: 3rem; 
}

.postsGrid{
  display:flex;
  flex-wrap: wrap;
  column-gap: 30px; 
  row-gap: 2rem;
}

.postCard{
  flex: 0 0 calc((100% - 60px) / 3);
  border: 1px solid rgba(0,0,0,.08);
  border-radius: 0; 
  background:#fff;
  cursor:pointer;
}

.postImgWrap{
  width: 100%;
  aspect-ratio: 16/10;
  background: rgba(0,0,0,.03);
}
.postImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display:block;
}

.postBody{ 
  padding: 1rem; 
}
.postKicker{
  font-size: 0.8125rem;
  color: #EB0028;
  font-weight: 700;
  margin-bottom: .5rem;
}
.postPopUpKicker{
  font-size: 0.8125rem;
  color: #EB0028;
  font-weight: 700;
  margin: .5rem 0;
}
.postTitle{
  font-size: 1.5rem;
  margin: 1rem 0;
  line-height: 1.3;
}
.postMeta{
  display:flex;
  flex-wrap:wrap;
  gap: .5rem;
  font-size: .75rem;
  color : #9B9B9B;
  margin-bottom: 1rem;
}
.postMeta span:first-child{
  color: #000000;
  font-weight: 600;
}
.dot{ 
  opacity:.5; 
}

.postText{
  margin:0;
  font-size: .875rem;
  line-height: 1.25rem;
  color: #929292 ;
}


@media (max-width: 64rem){
  .postCard{ flex-basis: calc((100% - 30px) / 2); }
}

@media (max-width: 40rem){
  .postCard{ flex-basis: 100%; }
}
