@font-face {
  font-family: Roboto;
  src: url("../public/assets/Fonts/Roboto/static/Roboto-Regular.ttf");
}
*{ 
  margin: 0;
  padding: 0;
  box-sizing:border-box; 
  font-family: Roboto;
}
a{
   color:inherit; 
   text-decoration:none; 
}

.container{
  width: min(72rem, calc(100% - 2rem));
  margin: 0 auto;
}
